<!DOCTYPE html>
<html>
  <head>

    <title>{{ shop.name }}</title>

    {{ content_for_header }}

  </head>
  <body>

    {% sections 'header-group' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

  </body>
 </html>